<footer class="entry-meta">
        {% if page.modified %}{{ page.title }} was last modified on <span class="entry-date date modified"><time datetime="{{ page.modified }}">{{ page.modified }}</time></span>
        <span class="author vcard fn">{{ site.author }}</span>{% endif %}
        {% if page.share %}<div class="social-share">
          <ul class="socialcount socialcount-small inline-list" data-url="{{ root_url }}/{{ page.url }}" data-share-text="{{ page.title }}">
            <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ root_url }}/{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ root_url }}/{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
            <li class="googleplus"><a href="https://plus.google.com/share?url={{ root_url }}/{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
          </ul>
        </div><!-- /.social-share -->{% endif %}
</footer>
{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
