{% capture category %}{{ post.categories | size }}{% endcapture %}
<hr width="80%" asign="left" dotted="1">
<h5><time style="color:gray" datetime="{{ post.date | datetime | date_to_xmlschema }}" updated>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</h5>
<h3>&#64;<a href="{{ root_url }}{{ post.url }}">
		{% if site.titlecase %}
		{{ post.title | titlecase }}
		{% else %}
		{{ post.title }}
		{% endif %}</a>
</h3>
</time>
{% if category != '0' %}
<h5 style="color:gray"><footer>
  <span class="categories">posted in: {{ post.categories | category_links }}</span>
</footer></h5>
{% endif %}