---
layout: default
title: Guangwei Feng's Tech Blog
description: "A tech blog for Guangwei John Feng"
categories: [Guangwei Feng Android Tech Blog]
keywords: GuangweiFeng JohnFeng Android Blog Tech 
image:
  feature: /images/abstract-5.jpg
---

{% assign index = true %}
{% for post in paginator.posts %}
<article class="hentry">
  {% include article.html %}
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn">Previous</a>
    {% else %}
      <a href="{{ root_url }}{ paginator.previous_page_path }}" class="btn">Previous</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ root_url }}{{ paginator.next_page_path }}" class="btn">Next</a>
  {% endif %}
  <br>
  <a href="{{ root_url }}/archives">Blog Archives</a>

</div><!-- /.pagination -->
